<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Romeo and Juliet Bistro</title>
</head>
<body>
    <header> The Romeo and Juliet Bistro </header>
    <main>
        <h2> About Us </h2>
          <h3> The R+J Bistro Journey </h3>
            <p>
                The Romeo and Juliet Eatery is a restaurant that was birthed in the valleys of Montepulciano, a town nestled in beautiful Tuscany.
                My husband and I created the concept of our dream eatery as newleyweds, with the plan of moving to England to share our family traditions
                of fresh pasta and heapings of truffle oil. Much like Romeo and Juliet, our families were rivals in business and were very much against our 
                matrimony, which gave us the name of our beloved restaurant.
            </p>
    </main>
</body>
</html>